.accordion.overflow
  .container.wow.fadeInRight
    - var accordionTab = ['Listwy wtryskowe', 'Wtryskiwacze'];
    - accordionTab.push('Reduktory', 'Przełączniki');
    - accordionTab.push('Butle gazowe');
    - for(var i = 1; i <= 5; i++)
      .accordion__item
        .accordion__top
          .accordion__title #{accordionTab[i - 1]}
          .accordion__arrow
            i.fa.fa-angle-up

        .accordion__body
          .accordion__content
            - for(var j = 1; j <= 3; j++)
              include ../product/product