.accordion
  
  &__item
    margin-bottom: 20px
        
    &.-active
      .accordion__body
        display: block
      .accordion__arrow
        transform: rotate(-180deg)
    
  &__top
    display: flex
    align-items: center
    justify-content: space-between
    border-bottom: 1px solid $gray
    cursor: pointer
    padding-bottom: 10px
    &:hover
      .accordion__title
        color: $red
      .accordion__arrow
        transform: rotate(-90deg)
      
  &__title
    +font(size 25px weight 700)
    transition: 0.3s ease all
      
  &__arrow
    +font(size 30px)
    color: $red
    transition: 0.3s ease all
        
  &__body
    display: none
    
  &__content
    +clearfix
    padding: 20px 0
        