.footer.overflow
  .container
    .footer__flex
      .footer__logo.wow.fadeInLeft
        - var imgSrc = imgDir + 'footer__logo.png';
        a.footer__link(href='./')
          img.footer__logoImg(src=imgSrc alt='logo')

      .footer__panel.wow.fadeInRight(data-wow-delay='0.6s')
        .footer__nav
          a.footer__link(href='autogaz.html') Autogas
          a.footer__link(href='mechanic.html') Mechanika
          a.footer__link(href='electro.html') Elektromechanika
          a.footer__link(href='gallery.html') Galeria
          a.footer__link(href='about.html') O firmie
          a.footer__link(href='certifi.html') Certifikary
          a.footer__link(href='contact.html') Kontakt

        .footer__rights
          .footer__item.-left Copyright 2016 by Auto Gas Lidzbark Warmiński
          .footer__item.-span -
          a.footer__link.-right(href='http://collor.pl' target='_blank') Realizacja: collor.pl