.footer
  background: $black
  padding: 120px 0
  +TAB_MAX
    text-align: center
  
  &__flex
    display: flex
    align-items: center
    justify-content: space-between
    +TAB_MAX
      flex-direction: column
      
  &__logo
    transition: 0.5s ease all
    +TAB_MAX
      padding-bottom: 60px
    +PC_MIN
      padding-right: 30px
    &:hover
      filter: invert(100%)
      
  &__nav, &__rights
    display: flex
    +TAB_MAX
      flex-direction: column
    +PC_MIN
      justify-content: flex-end
    
  &__nav
    border-bottom: 1px solid transparentize($grayDark, 0.5)
    padding-bottom: 20px
    
  &__rights
    padding-top: 20px
      
  &__item, &__link
    color: $grayDark
    padding: 8px
    +PC_MIN
      padding: 0 8px

  &__link
    transition: 0.5s ease color
    &:hover, &.-active
      text-decoration: none
      color: $red