extends ../layout/body

block headScripts

block content
  include ../components/header/header-pages
  include ../components/blog/blog-text
  include ../components/accordion/accordion
  include ../components/brands/brands
