extends ../layout/body

block headScripts

block content
  include ../components/header/header-main
  include ../components/blog/blog-text
  include ../components/brands/brands
  include ../components/offer/offer
