<article class="row">
    <form action="{?=url(ADMIN.'/settings/saveGeneral')?}" method="POST">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{$lang.settings.general}</h3>
                </div>
            	<div class="panel-body">
                    <div class="form-group">
                        <label>{$lang.settings.title}</label>
                        <input type="text" name="title" class="form-control" value="{$settings.title}" required />
                    </div>
                    <div class="form-group">
                        <label>{$lang.settings.description}</label>
                        <input type="text" name="description" class="form-control" value="{$settings.description}" required />
                    </div>
                    <div class="form-group">
                        <label>{$lang.settings.keywords}</label>
                        <input type="text" name="keywords" class="form-control" value="{$settings.keywords}" required />
                    </div>
                    <div class="form-group">
                        <label>{$lang.settings.homepage}</label>
                        <select name="homepage" class="form-control">
                            {loop: $settings.pages}
                            <option value="{$value.slug}" {if: $settings.homepage == $value.slug}selected{/if}>{$value.title} ({$value.slug})</option>
                            {/loop}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>{$lang.settings.timezone}</label>
                        <select name="timezone" class="form-control">
                            {loop: $settings.timezones}
                            <option value="{$key}" {if: $settings.timezone == $key}selected{/if}>{$value}</option>
                            {/loop}
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{$lang.settings.other}</h3>
                </div>
                <div class="panel-body">
                     <div class="form-group">
                        <label>{$lang.settings.site_lang}</label>
                        <select name="lang_site" class="form-control">
                            {loop: $settings.langs.site}
                            <option value="{$value.name}" {$value.attr}>{$value.name}</option>
                            {/loop}
                        </select>
                        {if: isset($settings.autodetectlang)}
                        <label style="font-weight:normal"><input type="checkbox" id="autodetectlang" name="autodetectlang" value="1" {if: $settings.autodetectlang == 1}checked{/if} /> {$lang.langswitcher.autodetect}</label>
                        {/if}
                    </div>
                    <div class="form-group">
                        <label>{$lang.settings.admin_lang}</label>
                        <select name="lang_admin" class="form-control">
                            {loop: $settings.langs.admin}
                            <option value="{$value.name}" {$value.attr}>{$value.name}</option>
                            {/loop}
                        </select>
                    </div>
                    <div class="form-group">
                         <label>{$lang.settings.footer}</label>
                         <input type="text" name="footer" class="form-control" value="{$settings.footer}" required />
                    </div>
                    <div class="form-group">
                         <label>{$lang.settings.editor}</label>
                         <div class="radio">
                             <label class="radio-inline">
                                <input type="radio" name="editor" value="wysiwyg" {if: $settings.editor == 'wysiwyg'}checked{/if} /> WYSIWYG
                             </label>
                             <label class="radio-inline">
                                <input type="radio" name="editor" value="html" {if: $settings.editor == 'html'}checked{/if} /> HTML
                             </label>
                         </div>
                    </div>
                    <input type="submit" name="save" class="btn btn-primary" value="{$lang.general.save}" />
                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{$lang.settings.license}</h3>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        {if: $settings.license.type == \Inc\Core\Lib\License::ERROR}
                        <span class="fa-stack text-danger fa-5x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <i class="fa fa-times fa-stack-1x"></i>
                        </span>
                        {else}
                        <span class="fa-stack text-success fa-5x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x"></i>
                        </span>
                        {/if}
                        <p>
                            <h1>
                                {$settings.license.name}
                            </h1>
                            <small>{?=domain()?}</small>
                        </p>
                        {if: $settings.license.type == \Inc\Core\Lib\License::FREE}
                        <a href="#license-modal" data-toggle="modal" class="btn btn-primary">{$lang.settings.upgrade}</a>
                        {else}
                        <a href="{?=url([ADMIN, 'settings', 'license?downgrade'])?}" data-confirm="{$lang.settings.confirm_downgrade}" class="btn btn-default">{$lang.settings.downgrade}</a>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{$lang.settings.system_info}</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal no-margin">
                        <dt>{$lang.settings.version}</dt>
                        <dd>{$settings.version} <a href="{$updateurl}" class="small">({$lang.settings.check_updates})</a></dd>
                        <dt>{$lang.settings.license}</dt>
                        <dd>
                            {$settings.license.name}
                            <a href="#license-modal" data-toggle="modal" class="small">({$lang.general.edit})</a>
                        </dd>
                    </dl>
                    <hr />
                    <dl class="dl-horizontal no-margin">
                        <dt>{$lang.settings.php_version}</dt>
                        <dd>{$settings.system.php}</dd>
                        <dt>{$lang.settings.sqlite_version}</dt>
                        <dd>{$settings.system.sqlite}</dd>
                    </dl>
                    <hr />
                    <dl class="dl-horizontal no-margin">
                        <dt>{$lang.settings.system_size}</dt>
                        <dd>{$settings.system.system_size}</dd>
                        <dt>{$lang.settings.sqlite_size}</dt>
                        <dd>{$settings.system.sqlite_size}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </form>
</article>
<div class="modal fade" id="license-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{$lang.settings.license}</h4>
            </div>
            <form method="post" action="{?=url([ADMIN,'settings','license'])?}">
                <div class="modal-body">
                    <p>{$lang.settings.get_commercial}</p>
                    <p>{$lang.settings.activate_info}</p>
                    <input type="text" name="license-key" class="form-control" placeholder="{$lang.settings.license_key}..." />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{$lang.general.cancel}</button>
                    <button type="submit" class="btn btn-primary">{$lang.settings.upgrade}</button>
                </div>
            </form>
        </div>
    </div>
</div>