<article class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{$theme.name}</h3>
            </div>
            <div class="panel-body">
                <div class="theme-preview">
                    <img src="{?= url(['themes', $theme.dir, $theme.thumb]) ?}" class="img-responsive">
                </div>
            </div>
            <div class="panel-footer">
                <table class="table">
                    <tr>
                        <th>{$lang.settings.author}</th>
                        <td>{$theme.author} <a href="mailto:{$theme.email}">{$theme.email}</a></td>
                    </tr>
                    <tr>
                        <th>{$lang.settings.version}</th>
                        <td>{$theme.version}</td>
                    </tr>
                </table>
                {if: $settings.theme == $theme.dir}
                <a href="#" class="btn btn-primary btn-block btn-xs disabled">{$lang.settings.active}</a>
                {else}
                <a href="{?= url([ADMIN, 'settings', 'theme', $theme.dir, 'activate']) ?}" class="btn btn-primary btn-block btn-xs">{$lang.settings.activate}</a>
                {/if}
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{$lang.general.edit}</h3>
            </div>
            <div class="panel-body">
                {if: FILE_LOCK}
                <div class="alert alert-danger">{$lang.settings.file_lock}<span class="label pull-right">FILE_LOCK</span></div>
                {/if}
        		<form name="selectFile" action="{$_SERVER['REQUEST_URI']}" method="GET">
                    <div class="form-group">
            			<select name="file" class="form-control" onchange="window.location.href=this.value;">
            				{loop: $theme.files}
            					<option value="{?= url(ADMIN.'/settings/theme/'.$theme['dir'].'/'.$key) ?}" {$value.attr}>{$value.short}</option>
            				{/loop}
            			</select>
            			<input type="hidden" name="t" value="{$_SESSION['token']}">
                    </div>
        		</form>

                <form name="editor" action="{$_SERVER['REQUEST_URI']}" method="POST">
                    <div class="form-group">
                        <textarea name="content" rows="20" class="form-control nowrap" id="editor">{$theme.content}</textarea>
                        <script>$("#editor").markItUp(markItUpSettings);</script>
                    </div>
                    <input type="submit" name="save" class="btn btn-primary" value="{$lang.general.save}" {if: FILE_LOCK}disabled{/if}/>
                </form>
            </div>
        </div>
    </div>
</article>