.product
  display: block
  width: 220px
  height: 220px
  border: 1px solid $gray
  position: relative
  margin: 5px
  float: left
  transition: 0.3s ease all
  &:hover
    border-color: $red
    .product__title
      color: $red

  &__img
    height: 180px
    
  &__title
    position: absolute
    left: 20px
    bottom: 20px
    color: $grayDark
    transition: 0.3s ease all