<div class="blog overflow">
    <div class="container">
        <div class="blog__flex">
            <div class="blog__title">
                <div class="title -main wow fadeInDown">
                    <span class="title__strong">
                        {$page.title}
                    </span>
                    {if: $page.desc}{$page.desc}{else}{$settings.description}{/if}
                </div>
            </div>
            <div class="blog__content wow fadeInRight">
                {if: $bat.notify}
                <div class="notify -{$bat.notify.type}">{$bat.notify.text}</div>
                {/if}
                {$page.content}
            </div>
        </div>
    </div>
</div>