    <div class="footer overflow">
        <div class="container">
            <div class="footer__flex">
                <div class="footer__logo wow fadeInLeft">
                    <a class="footer__link" href="{$bat.path}">
                        <img class="footer__logoImg" src="{$bat.theme}/dist/img/footer__logo.png" alt="logo">
                    </a>
                </div>
                <div class="footer__panel wow fadeInRight" data-wow-delay="0.6s">
                    <div class="footer__nav">
                        {$navigation.bottom}
                    </div>

                    <div class="footer__rights">
                        <div class="footer__item -left">{$settings.footer}</div>
                        <div class="footer__item -span">-</div>
                        <div class="footer__item -right">{$bat.powered}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{$bat.theme}/dist/js/lib.js"></script>
    <script src="{$bat.theme}/dist/js/prod.js"></script>

    {loop: $bat.footer}{$value}{/loop}
</body>

</html>