<div class="header">
    <div class="container">
        <div class="header__flex">
            <div class="header__aside">
                <div class="aside -pages overflow">
                    <a class="aside__logo" href="{$bat.path}">
                        <img class="aside__logoImg" src="{$bat.theme}/dist/img/aside__logo.png" alt="logo">
                    </a>
                    <a class="aside__button wow bounceInUp" href="tel:777888999" data-wow-delay="0.6s">
                        <i class="fa fa-phone"></i>
                    </a>
                </div>
            </div>
            <div class="header__panel">
                <div class="header__nav">
                    <nav class="nav">
                        <div class="nav__button"><i class="fa fa-bars"></i></div>
                        <div class="nav__background"></div>
                        <ul class="nav__list">
                            {$navigation.main}
                        </ul>
                    </nav>
                </div>
                <div class="header__banner">
                    <div class="banner -pages">
                        <div class="banner__item"
                             {if: $post.cover_photo}
                             style="background-image: url({$post.cover_url});"
                             {else}
                             style="background-image: url({$bat.theme}/dist/img/banner__item-2.jpg);"
                             {/if}
                        >
                            <div class="container">
                                <div class="banner__header">{$settings.title}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>