.form
  position: relative
  
  &__input, &__textarea, &__button
    +font(size 16px)
    text-align: left
    display: block
    width: 100%
    background: $gray
    color: $grayDark
    margin: 10px auto
    padding: 15px 20px
    border: none
    &.-invalid
      background: $red
    &::placeholder
      +font(size 16px)
      color: $grayDark
    &:focus
      outline: none
      background: darken($gray, 10%)

  &__textarea
    +size(height 90px)
    resize: none
    overflow: auto

  &__button
    background: $grayDark
    color: $white
    cursor: pointer