.news
  .news__slider
    - var itemStyle = 'background-image: url('+ imgDir +'news__img-1.jpg)';
    .news__item
      .news__img(style=itemStyle)
      .news__content
        .news__contentTitle
          +lorem(2)
        .news__contentText
          +lorem(8)
        a.news__button(href="#") Button

    - var itemStyle = 'background-image: url('+ imgDir +'news__img-2.jpg)';
    .news__item
      .news__img(style=itemStyle)
      .news__content
        .news__contentTitle
          +lorem(2)
        .news__contentText
          +lorem(8)
        a.news__button(href="#") Button

    .news__item
      .news__img
        i.news__icon.fa.fa-newspaper-o
      .news__content
        .news__contentTitle
          +lorem(2)
        .news__contentText
          +lorem(8)
        a.news__button(href="#") Button

  .news__pager
    a(href="#").news__pagerItem.-prev
      i.fa.fa-arrow-left
    a(href="#").news__pagerItem
      i.fa.fa-arrow-right