.news
  
  &__item
    +clearfix
    position: relative
    margin-bottom: 20px
  
  &__img
    background: $grayDark center
    background-size: cover
    height: 100px
    position: relative
    
    +PC_MIN
      height: 150px
      float: left
      width: 35%
      
  &__icon
    +absolute-center
    +font(size 70px)
    color: $white
  
  &__content
    +TAB_MAX
      padding: 20px
      text-align: center
    +PC_MIN
      padding: 0 20px
      float: left
      width: 65%
  
  &__contentTitle
    +font(size 24px)
    margin-bottom: 10px
    text-transform: uppercase
    line-height: 1
  
  &__contentText
    +TAB_MAX
      display: none
  
  &__button
    padding: 10px
    background: $red
    color: $white
    transition: 0.3s ease all
    &:hover
      text-decoration: none
      background: $grayDark
    +TAB_MAX
      margin-top: 20px
    +PC_MIN
      position: absolute
      bottom: 0
      
  &__pagerItem
    +font(size 15px)
    display: inline-flex
    align-items: center
    justify-content: center
    height: 30px
    width: 60px
    background: $red
    color: $white
    transition: 0.3s ease all
    &:hover
      background: $grayDark
      text-decoration: none
    
    &.-prev
      margin-right: 10px