<article class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{$lang.general.manage}</h3>
				<ul class="nav nav-tabs">
					{loop: $pages.langs}
					<li class="{$value.attr}"><a href="{?=url(ADMIN.'/pages/manage?lang='.$value.name)?}">{$value.name}</a></li>
					{/loop}
				</ul>
            </div>
            <div class="panel-body">
				<h3 style="margin-top:5px;">{$lang.pages.pages_count} {?=count($pages.list)?}</h3>
					<div class="table-responsive no-margin">
						<table class="table table-striped no-margin">
							<thead>
								<tr>
									<th>{$lang.general.title}</th>
									<th>{$lang.pages.slug}</th>
									<th>{$lang.general.template}</th>
									<th class="text-right">{$lang.general.actions}</th>
								</tr>
							</thead>
							<tbody>
        						{if: !empty($pages.list)}
								{loop: $pages.list}
								<tr>
									<td><a href="{$value.editURL}">{$value.title} <small>{$value.desc}</small></a></td>
									<td><a href="{$value.viewURL}" target="_blank">/{$value.slug}</a></td>
									<td>{$value.template}</td>
									<td class="text-right">
										<a href="{$value.viewURL}" target="_blank" class="btn btn-primary btn-xs">
											<i class="fa fa-search"></i> <span class="hidden-xs">{$lang.pages.view}</span>
										</a>
										<a href="{$value.editURL}" class="btn btn-success btn-xs">
											<i class="fa fa-pencil"></i> <span class="hidden-xs">{$lang.general.edit}</span>
										</a>
										<a href="{$value.delURL}" class="btn btn-danger btn-xs" data-confirm="{$lang.pages.delete_confirm}">
											<i class="fa fa-trash-o"></i> <span class="hidden-xs">{$lang.general.delete}</span>
										</a>
									</td>
								</tr>
								{/loop}
								{else}
								<tr><td colspan="4" class="text-center">{$lang.pages.no_pages}</td></tr>
								{/if}
							</tbody>
						</table>
					</div>
					{$pages.pagination}
            </div>
        </div>
    </div>
</article>