=button-animation
  z-index: 2
  position: relative
  overflow: hidden
  transition: 0.5s ease transform, 0.5s ease color
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $red
    z-index: -1
    transition: 0.5s ease all
    transform: translate(0, 100%) rotate(180deg)
  &:hover, &.-active
    text-decoration: none
    color: $white
    &:after
      transform: translate(0, 0) rotate(0deg)

=background($args: ())
  $offsets: attachment clip color image orgin position repeat size
  +matching($args, $offsets, $another: background-)

=size($args: ())
  $offsets: min-height height max-height min-width width max-width
  +matching($args, $offsets, $another: null)

=transition($time)
  transition: $time ease all

@function is-valid-length($value)
  @return type-of($value) == "number" and not unitless($value) or index(auto initial inherit 0, $value) != false

=matching($args, $offsets, $another)
  @each $offset in $offsets
    $index: index($args, $offset)
    @if $index
      @if $index == length($args) and $another == null
        #{$offset}: 0
      @else
        $next: nth($args, $index + 1)
        @if is-valid-length($next)
          #{$another}#{$offset}: $next
        @else if index($offsets, $next) and $another == null
          #{$offset}: 0
        @else
          @warn "Invalid value `#{$next}` for offset `#{$offset}`."
