<article class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{$navigation.title}</h3>
            </div>
            <div class="panel-body">
                <form name="link" action="{?=url(ADMIN.'/navigation/saveLink/'.@$navigation.link.id)?}" method="POST">
    	            <div class="form-group">
    	                <label>{$lang.general.lang}</label>
    	                <select name="lang" class="form-control">
                            {loop: $navigation.langs}
                            <option value="{$value.name}" {$value.attr}>{$value.name}</option>
                            {/loop}
                		</select>
    	            </div>
    				<div class="form-group">
    	                <label>{$lang.general.name}</label>
    	                <input type="text" name="name" class="form-control" value="{$navigation.link.name}" required />
    	            </div>
    				<div class="form-group">
    	                <label>{$lang.navigation.page}</label>
    	                <select name="page" class="form-control">
                            <option value="0">--- URL ---</option>
                            {loop: $navigation.pages}
                            <option value="{$value.id}" {$value.attr}>{$value.title} ({$value.slug})</option>
                            {/loop}
                		</select>
    	            </div>
    				<div class="form-group" id="url">
    	                <label>{$lang.navigation.url}</label>
    	                <input type="text" name="url" class="form-control" value="{$navigation.link.url}" placeholder="http://" />
    	            </div>
                    <div class="form-group" id="class">
    	                <label>{$lang.navigation.class}</label>
    	                <input type="text" name="class" class="form-control" value="{$navigation.link.class}" placeholder="{$lang.general.can_be_empty}" />
    	            </div>
    	            <div class="form-group">
    	                <label>{$lang.navigation.parent}</label>
    	                <select name="parent" class="form-control">
                            {loop: $navigation.navs}
                                <option value="{$value.id}" {$value.attr}>{$value.name}</option>
                                {if: isset($value.items)}
                                    {loop: $value.items}
                                     <option value="{$value.nav}_{$value.id}" {$value.attr}>&#160;&#160;&rarr; {$value.name}</option>
                                    {/loop}
                                {/if}
                            {/loop}
                		</select>
    	            </div>
    	            <input type="submit" name="save" class="btn btn-primary" value="{$lang.general.save}" />
        		</form>
            </div>
        </div>
    </div>
</article>

<script>
    if(parseInt($("form select[name='page']").find("option:selected").val()) !== 0)
    {
        $('form #url').hide();
    }
    $("form select[name='page']").change(function() {
        var page = $(this).find("option:selected").val();
        if(parseInt(page) === 0)
            $('form #url').slideDown();
        else
            $('form #url').slideUp();

    });
    $("form select[name='lang']").change(function() {
        var lang = $(this).find("option:selected").val();
        var currentURL = window.location.href;
        currentURL = currentURL.replace(/&lang=[a-z_]+/, '');
        window.location.replace(currentURL + "&lang=" + lang);
    });
</script>