.banner
  position: relative
  z-index: 1
  &.-main
    .container
      height: 380px
      +PC_MIN
        height: 680px
  &.-pages
    .container
      height: 380px
  
  &__item
    background-size: cover
    
  .container
    display: flex
    justify-content: flex-end
    align-items: flex-end
    position: relative
    box-shadow: inset -220px -16px 100px -78px $black
    padding-bottom: 30px
    &:after
      content: ''
      position: absolute
      top: 0
      left: 100%
      width: 500%
      height: 100%
      background: $black
      
  &__box
    position: absolute
    top: 60%
    pointer-events: none
    +TAB_MAX
      left: 10%
      transform: translate(0, -50%)
    +PC_MIN
      left: 40%
      transform: translate(-50%, -50%)
  
  &__header
    +font(size 43px)
    color: $white
    transition: 0.5s ease all
    transform-origin: top
    +PC_MIN
      +font(size 63px)
    &.-hide
      transform: scale(0.6)
      opacity: 0
      
  &__point
    position: absolute
    +TAB_MAX
      display: none
    &.-white
      color: $white
    &.-black
      color: $black