.banner.-main
  - var itemStyle = 'background-image: url('+ imgDir +'banner__item-1.jpg)'
  .banner__item(style=itemStyle)
    .container
      .banner__box
        .banner__carBox.wow.fadeInRight(data-wow-delay='0.6s')
          - var imgSrc = imgDir + 'banner__car.png';
          img.banner__car(src=imgSrc alt='banner')