{loop: $navigation.list}
{if: !isset($value.children)}
    {if: $value.nav == '1'}
    <li class="nav__item">
        <a class="nav__link {if: $value.active}-active{/if}" href="{$value.url}">
            {$value.name}
        </a>
    </li>
    {else}
    <a class="footer__link {if: $value.active}-active{/if}" href="{$value.url}">
        {$value.name}
    </a>
    {/if}
{/if}
{/loop}