.blog
  padding: 50px 0
  
  &__flex
    display: flex
    +PHONE_ONLY
      flex-direction: column
    
  &__title
    +PHONE_ONLY
      padding-bottom: 30px
    +TAB_MIN
      width: 35%
      padding-right: 30px
    +PC_MIN
      width: 25%
    
  &__content
    +TAB_MIN
      width: 65%
    +PC_MIN
      width: 75%
      
  &__row
    display: flex
    margin-bottom: 20px
    &:last-child
      margin: 0
    +TAB_MAX
      flex-direction: column
        
  &__column
    flex: 1
    +TAB_MAX
      margin-bottom: 10px
      &:last-child
        margin: 0
      
  &__number
    +font(size 30px)
    color: $grayDark
    
  &__color
    color: $red
      
  &__contentTitle
    +font(size 14px)
    margin: 0
    
  &__contentText
    margin: 0