.offer.overflow
  .container
    .offer__title
      include ../title/title-main

    .offer__flex
      - var offerTab = ['Autogas', 'Mechanika', 'Elektromechanika'];
      - for(var i = 1; i <= offerTab.length; i++)
        - var iconSrc = imgDir +'offer__icon-'+ i +'.svg';
        - var itemDelay = 0.5 * i + 's';
        a.offer__item.wow.fadeInRight(href='gallery.html' data-wow-delay=itemDelay)
          img.offer__icon(src=iconSrc alt='icon')
          .offer__desc #{offerTab[i - 1]}
          .offer__button Zobacz więcej