.offer
  background: $gray
  padding: 30px 0
  
  &__title
    margin-bottom: 30px
    text-align: center
  
  &__flex
    display: flex
    +TAB_MAX
      align-items: center
      flex-direction: column
    
  &__item
    +button-animation
    display: flex
    align-items: center
    justify-content: flex-end
    flex-direction: column
    text-align: center
    flex: 1
    height: 300px
    background: $white
    color: $black
    padding: 30px
    margin: 0 10px
    +TAB_MAX
      width: 100%
      max-width: 380px
      margin-bottom: 30px
      &:last-child
        margin: 0
    &:hover
      .offer__button
        background: $white
        color: $black
      .offer__icon
        filter: invert(100%)
  
  &__icon
    transition: 0.5s ease all
    
  &__desc
    margin-top: 30px
    
  &__button
    width: 100%
    max-width: 250px
    padding: 15px
    margin-top: 30px
    background: $red
    color: $white
    transition: 0.5s ease all