.header
  background: $gray
  overflow: hidden
  
  &__flex
    display: flex
    +PHONE_ONLY
      flex-direction: column
    
  &__aside
    +TAB_MIN
      width: 35%
    +PC_MIN
      width: 25%
    
  &__panel
    +TAB_MIN
      width: 65%
    +PC_MIN
      width: 75%