.header
  .container
    .header__flex
      .header__aside
        include ../aside/aside-pages

      .header__panel
        .header__nav
          include ../nav/nav

        .header__banner
          include ../banner/banner-pages