.brands.overflow
  .container
    .brands__flex
      .brands__arrows.wow.fadeInUp(data-wow-delay='0.6s')

      .brands__slider.wow.fadeInUp
        - for(var i = 1; i <= 6; i++)
          .brands__item
            - var imgSrc = imgDir + 'brands__img-' + i + '.jpg';
            img.brands__img(src=imgSrc alt='brand')