.brands
  
  &__flex
    border-top: 1px solid $gray
    display: flex
  
  &__arrows
    display: flex
    align-items: center
    width: 25%
    
  &__arrow
    +font(size 20px)
    +button-animation
    cursor: pointer
    padding: 5px 15px
    &:last-child
      +TAB_MAX
        margin-left: 10px
      +PC_MIN
        margin-left: 100px
  
  &__slider
    width: 75%
  
  &__item
    display: flex !important
    align-items: center
    justify-content: center
    height: 110px