$loaderBg: $white
$loaderColor1: $red
$loaderTime: 2s

.loader
  background: $loaderBg
  height: 100%
  width: 100%
  position: fixed
  z-index: 9999
  margin-top: 0
  top: 0
  transition: 1s ease opacity
  overflow: hidden
  &.-hide
    opacity: 0
    pointer-events: none
  
  &__box
    width: 100%
    height: 100%
    position: relative
  
  &__center
    position: absolute
    left: 50%
    top: 50%
    height: 150px
    width: 150px
    margin-top: -75px
    margin-left: -75px
  
  &__object
    width: 20px
    height: 20px
    background: $loaderColor1
    position: absolute
    left: 65px
    top: 65px
    &:nth-child(2n+0)
      margin-right: 0
    
    &.-one
      animation: -one $loaderTime infinite
      animation-delay: 0.2s
    
    &.-two
      animation: -two $loaderTime infinite
      animation-delay: 0.3s
    
    &.-three
      animation: -three $loaderTime infinite
      animation-delay: 0.4s
    
    &.-four
      animation: -four $loaderTime infinite
      animation-delay: 0.5s
    
    &.-five
      animation: -five $loaderTime infinite
      animation-delay: 0.6s
    
    &.-six
      animation: -six $loaderTime infinite
      animation-delay: 0.7s
    
    &.-seven
      animation: -seven $loaderTime infinite
      animation-delay: 0.8s
    
    &.-eight
      animation: -eight $loaderTime infinite
      animation-delay: 0.9s
    
    &.-big
      position: absolute
      width: 50px
      height: 50px
      left: 50px
      top: 50px
      animation: -big $loaderTime infinite
      animation-delay: 0.5s
    
    @keyframes -big
      50%
        transform: scale(0.5)

    @keyframes -one
      50%
        transform: translate(-65px, -65px)
    
    @keyframes -two
      50%
        transform: translate(0, -65px)
    
    @keyframes -three
      50%
        transform: translate(65px, -65px)
    
    @keyframes -four
      50%
        transform: translate(65px, 0)
    
    @keyframes -five
      50%
        transform: translate(65px, 65px)
    
    @keyframes -six
      50%
        transform: translate(0, 65px)
    
    @keyframes -seven
      50%
        transform: translate(-65px, 65px)
    
    @keyframes -eight
      50%
        transform: translate(-65px, 0)