{template: inc/header.html}
{template: inc/top-pages.html}

<div class="blog overflow">
    <div class="container">
        <div class="blog__flex">
            <div class="blog__title">
                <div class="title -main wow fadeInDown">
                    <span class="title__strong">{$blog.title}</span> {$blog.desc}
                </div>
            </div>
            <div class="blog__content wow fadeInRight">
                <div class="news">
                    <div class="news__slider">
                        {loop: $blog.posts}
                        <div class="news__item">
                            {if: $value.cover_photo}
                            <div class="news__img"
                                 style="background-image: url('{$value.cover_url}');">
                            </div>
                            {else}
                            <div class="news__img">
                                <i class="news__icon fa fa-newspaper-o"></i>
                            </div>
                            {/if}
                            <div class="news__content">
                                <div class="news__contentTitle">{$value.title|cut:60}</div>
                                <div class="news__contentText">{$value.content|cut:90}</div>
                                <a class="news__button" href="{$value.url}">{$lang.blog.readmore}</a>
                            </div>
                        </div>
                        {/loop}
                    </div>

                    <div class="news__pager">
                        {if: isset($prev)}
                        <a class="news__pagerItem -prev" href="{$prev.url}">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        {/if}

                        {if: isset($next)}
                        <a class="news__pagerItem" href="{$next.url}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{template: inc/brands.html}
{template: inc/footer.html}