{template: inc/header.html}
{template: inc/top-index.html}
{template: inc/content.html}
{template: inc/brands.html}

<div class="offer overflow">
    <div class="container">
        <div class="offer__title">
            <div class="title -main wow fadeInDown">
                <span class="title__strong">{$lang.blog.latest_posts}</span>
            </div>
        </div>
        <div class="offer__flex">
            {loop: $latestPosts}
            <a class="offer__item wow fadeInRight" href="{?= url(['blog', 'post', $value.slug]) ?}" data-wow-delay="0.5s">
                {? $number = $counter < 3? $counter + 1 : 3 ?}
                <img class="offer__icon" src="{$bat.theme}/dist/img/offer__icon-{?= $number ?}.svg" alt="icon">
                <div class="offer__desc">{$value.title|cut:25}</div>
                <div class="offer__button">{$lang.blog.readmore}</div>
            </a>
            {/loop}
        </div>
    </div>
</div>

{template: inc/footer.html}
