{template: inc/header.html}
{template: inc/top-pages.html}

<div class="blog overflow">
    <div class="container">
        <div class="blog__flex">
            <div class="blog__title">
                <div class="title -main wow fadeInDown">
                    <span class="title__strong">
                        {$post.title}
                    </span>
                </div>
            </div>
            <div class="blog__content wow fadeInRight">
                {$post.content}

                <div class="blog__color">
                    {$post.author.name} / {$post.published_at}
                </div>
            </div>
        </div>
    </div>
</div>

{template: inc/brands.html}
{template: inc/footer.html}