.nav
  position: relative
  display: flex
  z-index: 300
  +PC_MIN
    margin-bottom: 10px
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 500%
      background: $white
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: white
    display: none
    z-index: 100
    +PC_MIN
      display: none !important
  
  &__button
    +flex-center
    width: 50px
    height: 50px
    font-size: 24px
    position: fixed
    right: 20px
    top: 20px
    background-color: $red
    color: white
    cursor: pointer
    +PC_MIN
      display: none
  
  &__list
    padding: 0
    margin: 0
    +TAB_MAX
      position: fixed
      top: 50%
      left: 50%
      display: none
      z-index: 100
      max-height: 90vh
      overflow-y: auto
      transform: translate(-50%, -50%)
      background: $gray
      text-align: center
    +PC_MIN
      display: flex !important
  
  &__item
    display: block
  
  &__link
    +flex-center
    color: $black
    height: 60px
    z-index: 2
    position: relative
    transition: 0.5s ease transform, 0.5s ease color
    +TAB_MAX
      overflow: hidden
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: calc(100% + 10px)
      background: $red
      z-index: -1
      transition: 0.5s ease all
      transform: translate(0, -100%) rotate(180deg)
    &:hover, &.-active
      text-decoration: none
      color: $white
      &:after
        transform: translate(0, 0)
    +TAB_MAX
      padding: 0 70px
    +PC_MIN
      padding: 0 20px