nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link.-active(href='autogaz.html') Autogas
    li.nav__item
      a.nav__link(href='news.html') News
    li.nav__item
      a.nav__link(href='electro.html') Elektormechanika
    li.nav__item
      a.nav__link(href='gallery.html') Galeria
    li.nav__item
      a.nav__link(href='about.html') O firmie
    li.nav__item
      a.nav__link(href='certifi.html') Certifikaty
    li.nav__item
      a.nav__link(href='contact.html') Kontakt
