.aside.-main.overflow
  a.aside__logo(href='./')
    - var logoSrc = imgDir + 'aside__logo.png';
    img.aside__logoImg(src=logoSrc alt='logo')
  a.aside__button.-main.wow.bounceInUp(href='tel:777888999' data-wow-delay='0.6s')
    i.fa.fa-phone