.aside
  position: relative
  display: flex
  justify-content: space-between
  flex-direction: column
  padding: 20px 0
  +PC_MIN
    margin-top: 60px
    padding: 0 0 30px
  &.-main
    +TAB_MIN
      height: 380px
    +PC_MIN
      height: 680px
  &.-pages
    +TAB_MIN
      height: 380px
      
  &__logo
    transition: 0.5s ease all
    &:hover
      filter: brightness(0%)
  
  &__button
    +font(size 40px)
    +button-animation
    +flex-center
    height: 80px
    border: 8px solid $white
    &.-main
      +PC_MIN
        height: 240px
        width: 80px
    +PHONE_ONLY
      margin-top: 20px
    +TAB_MIN
      width: 140px