.gallery
  
  &__box
    +clearfix
  
  &__link
    float: left
    display: block
    margin: 10px
    height: 150px
    +TAB_MAX
      width: calc(50% - 20px)
    +PC_MIN
      width: calc(25% - 20px)
  
  &__thumb
    +section-bg
    +button-animation
    display: block
    width: 100%
    height: 100%
    &:after
      +font(size 30px family FontAwesome)
      +flex-center
      content: '\f002'
      background: transparentize($black, 0.1)
      color: $white