.gallery
  .gallery__box
    - for(var i = 1; i <= 4; i++)
      - var number = i % 4 + 1;
      - var imgSrc = imgDir + 'certifi__img-' + number + '.jpg';
      - var thumbSrc = 'background-image: url('+ imgDir + 'certifi__img-' + number + '.jpg)';
      a.gallery__link(href=imgSrc title='Some description to change')
        .gallery__thumb(style=thumbSrc)