<div class="gallery">
  <div class="gallery__box">
    {loop: $gallery.items}
    <a class="gallery__link"
       href="{?=url($value.src.lg)?}"
       {if: ($value.title | $value.desc)}
       title="{$value.title} - {$value.desc}"
       {/if}
    >
      <div class="gallery__thumb" style="background-image: url('{?=url($value.src.sm)?}');">
      </div>
    </a>
    {/loop}
  </div>
</div>